.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pt
*.tar
*.tar.gz
dataset-yolop100/
tools/.ipynb_checkpoints/
lib/core/.ipynb_checkpoints/
lib/dataset/.ipynb_checkpoints/
lib/utils/.ipynb_checkpoints/
.ipynb_checkpoints/
